.logo {
  float: inline-start;
}
.nav-bar li {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  list-style-type: none;
  border: 2px, solid, red;
  justify-content: space-between;
  padding: 35px;
}
.bio {
  border: 2px, solid, green;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gri
  border: 2px, solid, black;
}
.services {
  border: 2px, solid, blue;
  grid-template-columns: 2;
  grid-template-rows: 2;
}
.services,
h1 {
  text-align: center;
}
.left {
  border: 2px, solid, peru;
  width: 250px;
  list-style: none;
  text-align: center;
  margin: 25px;
  padding: 25px;
}
.right {
  border: 2px, solid, teal;
  float: right;
  width: 250px;
  list-style: none;
  text-align: center;
}
.contact-me {
  border: 2px, solid, purple;
  text-align: center;
}
