.logo {
  float: inline-start;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  border: 2px, solid, red;
}
.bio {
  border: 2px, solid, green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bio-text {
  width: 300px;
}
.bio-photo {
  width: 300px;
}
.services {
  border: 2px, solid, blue;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-around;
  gap: 20px;
  padding: 3%;
}
.services,
h1 {
  text-align: center;
}
.sb-us {
  border: 2px solid peru;
}
.contact-me {
  display: flex;
  flex-direction: column;
  border: 2px, solid, purple;
  text-align: center;
}
