.logo {
  float: inline-start;
  border-radius: 75px;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  border: 2px, solid, red;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h4 {
  font-size: 15px;
}
.contact {
  text-align: center;
}
